%align_items {
    align-items: center;
}

.locations {
    @extend %align_items;
    text-align: center;
    border-bottom: solid black 3px;
    width: 100%;
    height: 150px;
    padding-top: 25px;

    i,h2,h3 {
        @extend %align_items;
    }
}


