.sponsors {
    text-align: center;
    color: white;
    border-bottom: solid black 3px;
}

.box_sponsor {
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-items: center;
    justify-content: center;
    grid-column-gap: 10px;
    div {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        border: solid #111 4px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    
}